body{
    margin: 0;
    padding: 0;
}
.left-area{
    position: absolute;
    top:0;
    left:0;
    width: 300px;
    background-color: #65a5fa;
    color:#fff;
    height:1000px;
    text-align: center;
}
.right-area{
    margin:0  0  0 350px;
    padding-top:150px;
    height: 850px;
    overflow:scroll ;
}
h1{
    margin-top: 100px;
    text-align: center;
    width: 300px;
}
.title{
    font-weight: bold;
    margin:0;
}
.info span{
    display: inline-block;
    margin-right:30px;
}
.bold{
    font-weight: bold;
}